.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1c1c1c;
    color: #9a9a9a;
    margin-bottom: 2rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navigation {
    display: flex;
    align-items: center;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #e58e27;
    cursor: pointer;
}

.menu-toggle:hover{
    background-color: #1c1c1c;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-list.open {
    display: flex;
    flex-direction: column;
}

.nav-item a {
    text-decoration: none;
    color: #9a9a9a;
    font-size: 1.2rem;
}

.icons {
    display: flex;
    gap: 15px;
    color: #9a9a9a;
    font-size: 1.4rem;
}

.icon i {
    transition: color 0.3s ease;
    font-size: 1.5rem;
}

.icon a {
    color: inherit;
}
.icon:hover{
    color: #e58e27; /* Cor amarela ao passar o mouse */
}

.a:hover{
    color: #e58e27; /* Cor amarela ao passar o mouse */
}

.dropdown-panel {
    position: absolute;
    top: 4rem;
    right: 0;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 10;
    width: 300px;
}
.dropdown-h4{
    
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-list {
        display: none; /* Esconde a navegação */
    }

    .menu-toggle {
        display: block; /* Mostra o botão "hambúrguer" */
    }

    .nav-list.open {
        display: flex; /* Exibe a navegação ao abrir o menu */
        flex-direction: column;
        position: absolute;
        top: 4rem;
        left: 1rem;
        background-color: #1c1c1c;
        width: 90%;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .nav-item {
        padding: 0.5rem 0;
    }
}
