.news-page {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1C1C1C;
  border-radius: 8px;
}

.content{
  margin-top: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.news-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news-article {
  background-color: #1C1C1C;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.news-article:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news-article h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #fff;
}

.news-article p {
  font-size: 16px;
  line-height: 1.8;
  color: #fff;
}

.news-article p strong {
  font-weight: 600;
  color: #fff;
}

@media (max-width: 768px) {
  .news-page {
    padding: 15px;
    max-width: 100%;
  }

  h1 {
    font-size: 28px;
  }

  .news-article {
    padding: 20px;
  }

  .news-article h2 {
    font-size: 24px;
  }

  .news-article p {
    font-size: 14px;
  }
}

/* Estilo para o aviso no final da página */
.ai-disclaimer {
  margin-top: 40px;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.ai-disclaimer p {
  margin: 0;
  font-weight: 600;
}
