.user-page {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-header h1 {
  margin: 0;
  font-size: 2rem;
  color: black;
}

.edit-button {
  margin-left: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #e58e27;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #d87e1c;
}

.profile-details {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
}

.profile-info label {
  font-weight: bold;
}

.profile-info p {
  margin: 0;
}

.profile-info input,
.profile-info textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.profile-info textarea {
  height: 100px;
}

.content {
  display: flex;
  flex: 1;
}

/* UserPage.css */

.logout-button {
  background-color: #ff4d4d; /* Cor de fundo vermelha */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  padding: 10px 20px; /* Espaçamento interno */
  margin-left: 10px; /* Margem esquerda para espaçamento */
  cursor: pointer; /* Muda o cursor para indicar clicável */
  border-radius: 5px; /* Bordas arredondadas */
}

.logout-button:hover {
  background-color: #ff1a1a; /* Muda a cor de fundo ao passar o mouse */
}
